.tui-grid-content-area {
    display: flex;
}
.cell-levelOne{
    background-color: rgb(197, 255, 195);
}
.cell-levelTwo{
    background-color: rgb(133, 255, 129);
}
.cell-levelThree{
    background-color: rgb(96, 255, 90);
}
.cell-levelFour{
    background-color: rgb(9, 255, 0);
}
.cell-levelFive{
    background-color: rgb(6, 174, 0);
}
.cell-black{
    background-color: rgb(0, 0, 0);
    color: white;
}
.cell-danger{
    background-color: black;
    color: rgb(255, 0, 0);
}
.cell-normal{
    background-color: rgb(223, 223, 223);
}
.cell-inven{
    font-weight: 200;
    font-style: italic;
}
.header-color{
    background-color: darkgray;
    font-weight: 200;
    font-style: italic;
    font-size: 14px;
}