.tui-grid-content-area {
    display: flex;
}
.tui-grid-cell.cell-red{
    background-color: rgb(9, 255, 0);
}
.tui-grid-cell.cell-green{
    background-color: rgb(84, 255, 78);
}
.tui-grid-cell.cell-yellow{
    background-color: rgb(132, 255, 128);
}
.tui-grid-cell.cell-yellow{
    background-color: rgb(132, 255, 128);
}
.tui-grid-cell.cell-yellow{
    background-color: rgb(132, 255, 128);
}
.tui-grid-cell.cell-black{
    background-color: rgb(0, 0, 0);
    color: white;
}
.tui-grid-cell.cell-danger{
    background-color: black;
    color: rgb(255, 0, 0);
}
.tui-grid-cell.cell-normal{
    background-color: rgb(197, 197, 197);
}
.tui-grid-cell.cell-inven{
    font-weight: 200;
    font-style: italic;
}